*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}


.page-mw{
    width: 50%;
    margin: auto;
}


.bg-black{
    background-color: rgb(29, 27, 27);
}


.bg-green{
    background-color: green;
}


.bg-red{
    background-color: red;
}


.bg-yellow{
    background-color: yellow;
}


.bg-gray{
    background-color: gray;
}


.bg-orange{
    background-color: rgb(255, 104, 1)
}

.bg-none{
    background: none;
}


.border{
    border: 2px solid rgb(234, 234, 234);
}


.p-top1{
    padding-top: 1px;
}


.p-top20{
    padding-top: 20px;
}


.p-left{
    padding-left: 5px;
}


.p-bottom{
    padding-bottom: 5px;
}

.p-bot20{
    padding-bottom: 20px;
}


.text-size{
    font-size: 12px;
}


.text-align-center{
    text-align: center;
}


.shop-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}


.item-container{
    width: 20%;
    min-width: 200px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.flex-spacebetween{
    justify-content: space-between;
}


.nav-container{
    display: flex;
    flex-wrap: wrap;
    height: 54px;
}

.nav-items-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.nav-items-align{
    align-items: center;
}


.icon-size{
    font-size: 15px;
}


.text-white{
    color: white;
}


.nav-height{
    height: 54px;
}


.footer-container{
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}


.footer-text{
    font-size: 10px
}