*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}


.page-mw{
    width: 80%;
    margin: auto;
}


.bg-black{
    background-color: black;
}


.bg-green{
    background-color: green;
}


.bg-red{
    background-color: red;
}


.bg-yellow{
    background-color: yellow;
}


.bg-gray{
    background-color: gray;
}


.border{
    border: 2px solid rgb(234, 234, 234);
}


.p-top{
    padding-top: 1px;
}


.p-left{
    padding-left: 5px;
}


.p-bottom{
    padding-bottom: 5px;
}


.text-size{
    font-size: 12px;
}


.shop-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}


.item-container{
    width: 30%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.flex-spacebetween{
    justify-content: space-between;
}
